*{
    margin: 0;
    padding: 0;
}

.wrapper{ 
    width: 100%;
    height: 150px; 
    padding: 0 0 0 0;
	margin: 0 auto 0 auto;
}

header {
        display:  block;
        width: 100%;
        height:  150px;
        background: url(space.jpg);
        box-shadow: 0 0 50px;
}
.text_header{
    font-family: 'Lato', sans-serif;
    color:#FDFBFA;
    margin-left: 50px;
    font-size: x-large;
    padding-top: 50px;
    font-size: 5ch;
}
html{
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
#logo{
    width: 100px; 
    height: 100px; 
    background: url(smr.jpg);
    float:  left;
    padding-right: 20px;
    margin: 15px;
}

body{
    background:url(back.jpg);
    height: 100%;
    flex-direction: column;
    display: flex;
    background-attachment: fixed;
}
.content{
    width: 100%;
}

.block_form
{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
    background-color: rgb(255, 101, 0);
    border: 5px dashed rgb(0, 158, 255);
    padding-left:20px ;
    order:2;
}

.block_tabl
{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
    background-color: rgb(238, 30, 162);
    border: 5px dashed rgb(90, 130, 183);
    padding-left:5px;
    padding-right:5px;
    order:3;
}
.top_bot{
    padding-top: 50px;
    padding-bottom: 50px;
}
.block_ss
{
    display: flex; 
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
    background-color: rgb(17,149, 182);
    border: 5px dashed rgb(114, 240, 17);
    padding-left:25px ;
}

h1{
    color:rgb(255, 0, 0);
}

table{  
    text-align: center;
    border-spacing: 5px; 
    border:5px;
    margin: auto;
}


table td{
    width:200px;
    height:50px;
}
table tr:nth-child(odd)
{
    background:rgb(204, 0, 102);;
    padding: 5px; /* Поля вокруг текста */
}
table tr:nth-child(even)
{
    background:rgb(255, 0, 255);
    padding: 5px; /* Поля вокруг текста */
}

.ss a{
    
    color: rgb(204, 0,204);
    background: rgb(255, 153, 255);
    text-decoration: none;
}
.ss li{
    margin-bottom: 4px;
    text-align:left;
}
ul{
    list-style: none;
}
.ss ol{
    display:inline-table;
}


.menu{
    padding-top: 5px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.menu ul {
    background:#3860A4; 
  }
.menu a {
    text-align: center;
    text-decoration: none; 
    background:#E448CA; 
    color:#fff; 
    margin-left: 15px;
    margin-right: 15px;
    font-size: 200%;
    font-family: arial; 
    line-height:50px; 
    display: block; 
    border: 1px solid #D45CC0; 
    height:50px;
  }

.menu a:hover {
    background:#102772;
  }

.menu li {
    margin-top: 20px;
    width: 100%;
    flex-direction: column;
  }

footer {
    box-shadow: 0 0 50px;
    display: block; 
    width: 100%; 
    height: 50px; 
    background: url(space.jpg);
    order:4;
}
footer p{
    text-align: center;
    color: rgba(204, 0, 0, 0.63); 
}

@media screen and (min-width: 426px) {
    
    .menu{
        width: 960px;
        margin: 0 auto;
        flex-direction: row;
    }
    .block_ss{
        width: 960px;
        margin: 0 auto;
        margin-bottom: 50px; 
    }
    .wrapper{
        width: 960px;
    }
    .block_form{
        width: 960px;
        margin: 0 auto;
        margin-bottom: 50px;
        order:3;
    }
    .block_tabl{
        width: 960px;
        margin: 0 auto;
        margin-bottom: 50px;
        order:2;
    }
    footer {
        order:4;
    }
  }
